<%- include("./Layouts/header", { user: user }) %>

<div class="page-content">

  <!-- Start Container Fluid -->
  <div class="container-fluid">

    <!-- ========== Page Title Start ========== -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <h4 class="mb-0 fw-semibold">Edit Group Details and Members</h4>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">DMS</a></li>
            <li class="breadcrumb-item active">Groups</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- ========== Page Title End ========== -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Edit Group</h4>
          </div>
          <div class="card-body">
            <form action="/committee-groups/<%= group._id %>/edit" method="POST">
              <div class="row">
                <!-- Group Name -->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="roles-name" class="form-label">Group Name</label>
                    <input type="text" id="roles-name" name="groupName" class="form-control" value="<%= group.groupName %>" required>
                  </div>
                </div>
                <!-- Member Secretary -->
                <div class="col-lg-6">
                  <div class="mb-3">
                    <label for="memberSecretary" class="form-label">Group Leader</label>
                    <select name="memberSecretary" class="form-control" data-choices data-choices-removeItem required id="shareWithGroupId">

                      <% users.forEach(function(u) { %>
                      <option value="<%= u._id %>" <%= group.memberSecretary && u._id.toString() === group.memberSecretary._id.toString() ? 'selected' : '' %>>
                        <%= u.name %>
                      </option>
                      <% }) %>
                    </select>
                  </div>
                </div>
              </div>
              <!-- Members (Multi-select) -->
              <div class="col-lg-6">
                <div class="mb-3">
                  <label for="choices-multiple-remove-button" class="form-label">Add Members</label>
                  <select class="form-control" id="choices-multiple-remove-button" data-choices data-choices-removeItem name="members" multiple>
                    <% users.forEach(function(u) { 
                            const isSelected = group.members.some(m => m._id.toString() === u._id.toString());
                        %>
                    <option value="<%= u._id %>" <%= isSelected ? 'selected' : '' %> <%= isSelected ? 'data-custom-class="bg-blue text-white"' : '' %>>
                      <%= u.name %>
                    </option>
                    <% }) %>
                  </select>
                </div>
              </div>
              <!-- Submit Button -->
              <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Update</button>
              </div>
            </form>

          </div>

        </div>
      </div>
    </div>
  </div>


  <!-- End Container Fluid -->
  <%- include("./Layouts/footer") %>