<%- include("./Layouts/header", { user: user})%>

<div class="page-content">

  <!-- Start Container Fluid -->
  <div class="container-fluid">

    <!-- ========== Page Title Start ========== -->
    <div class="row">
      <div class="col-12">
        <div class="page-title-box">
          <h4 class="mb-0 fw-semibold">Dashboard</h4>
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item"><a href="javascript: void(0);">DMS</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
    <!-- ========== Page Title End ========== -->

    <!-- Start here.... -->
    <div class="row">
      <div class="col-xxl-12">
        <div class="row">

          <!-- Total Files -->
          <div class="col-md-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="avatar-md bg-primary bg-opacity-10 rounded-circle">
                      <iconify-icon icon="solar:file-bold" class="avatar-title fs-32 text-primary"></iconify-icon>
                    </div>
                  </div>
                  <div class="col-6 text-end">
                    <p class="text-muted mb-0 text-truncate">Total No Of Files</p>
                    <h3 class="text-dark mt-1 mb-0"><%= stats.totalFiles %></h3>
                  </div>
                </div>
                <div dir="ltr" class="mt-4">
                  <div id="orders-chart" class="apex-charts"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Total Folders -->
          <div class="col-md-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="avatar-md bg-primary bg-opacity-10 rounded-circle">
                      <iconify-icon icon="solar:folder-bold" class="avatar-title fs-32 text-primary"></iconify-icon>
                    </div>
                  </div>
                  <div class="col-6 text-end">
                    <p class="text-muted mb-0 text-truncate">Total No Of Folders</p>
                    <h3 class="text-dark mt-1 mb-0"><%= stats.totalFolders %></h3>
                  </div>
                </div>
                <div dir="ltr" class="mt-4">
                  <div id="new-leads-chart" class="apex-charts"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Total Files Shared -->
          <div class="col-md-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="avatar-md bg-primary bg-opacity-10 rounded-circle">
                      <iconify-icon icon="clarity:file-share-solid" class="avatar-title fs-32 text-primary"></iconify-icon>
                    </div>
                  </div>
                  <div class="col-6 text-end">
                    <p class="text-muted mb-0 text-truncate">Total Files Shared</p>
                    <h3 class="text-dark mt-1 mb-0"><%= stats.sharedFiles %></h3>
                  </div>
                </div>
                <div dir="ltr" class="mt-4">
                  <div id="deals-chart" class="apex-charts"></div>
                </div>
              </div>
            </div>
          </div>

          <!-- Total Folders Shared -->
          <div class="col-md-6">
            <div class="card overflow-hidden">
              <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <div class="avatar-md bg-primary bg-opacity-10 rounded-circle">
                      <iconify-icon icon="streamline-ultimate:folder-share-bold" class="avatar-title fs-32 text-primary"></iconify-icon>
                    </div>
                  </div>
                  <div class="col-6 text-end">
                    <p class="text-muted mb-0 text-truncate">Total Folder Shared</p>
                    <h3 class="text-dark mt-1 mb-0"><%= stats.sharedFolders %></h3>
                  </div>
                </div>
                <div dir="ltr" class="mt-4">
                  <div id="booked-revenue-chart" class="apex-charts"></div>
                </div>
              </div>
            </div>
          </div>

        </div> <!-- end row -->
      </div> <!-- end col -->
    </div> <!-- end row -->

    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header d-flex align-items-center justify-content-between gap-2">
            <h4 class="card-title">Upload Statistics</h4>
            <div>
              <button type="button" class="btn btn-sm btn-outline-light">ALL</button>
              <button type="button" class="btn btn-sm btn-outline-light">1M</button>
              <button type="button" class="btn btn-sm btn-outline-light">6M</button>
              <button type="button" class="btn btn-sm btn-outline-light active">1Y</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row text-center">
              <div class="col-md-3 col-6">
                <div class="bg-soft-light">
                  <p class="text-muted pt-3 mb-1">Total Sales</p>
                  <h4 class="pb-3">
                    <span>$50.4k</span>
                  </h4>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="bg-soft-light">
                  <p class="text-muted pt-3 mb-1">Total Refunds</p>
                  <h4 class="pb-3">
                    <span>$3.2k</span>
                  </h4>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="bg-soft-light">
                  <p class="text-muted pt-3 mb-1">Total Orders</p>
                  <h4 class="pb-3">
                    <span>1,200</span>
                  </h4>
                </div>
              </div>
              <div class="col-md-3 col-6">
                <div class="bg-soft-light">
                  <p class="text-muted pt-3 mb-1">Net Profit</p>
                  <h4 class="pb-3">
                    <span>$15.7k</span>
                  </h4>
                </div>
              </div>
            </div>

            <div dir="ltr">
              <div id="dash-performance-chart" class="apex-charts"></div>
            </div>
          </div>
        </div> <!-- end card-->
      </div> <!-- end col -->
    </div> <!-- end row -->
  </div>
  <!-- End Container Fluid -->




  <%- include("./Layouts/footer") %>



  </html>